<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Password Reset</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We have received a password reset request from you. You can change your password <a href={{link}}>here</a></p>
  <p>Above link will expire after 12 hours.</p>
  <br>
  <p>Regards,</p>
  <p>Devs</p>
</body>
</html>