<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Aboard</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>Welcome to our site, I hope you enjoy our services</p>
  <p>Please write to us if you face any issues in our services.</p>
  <br>
  <p>Regards,</p>
  <p>Devs</p>
</body>
</html>